<div class="ekart-product--container">
  <search (searchTextChanged)="setSearchText($event)"></search>
  <product-list [searchText]="searchText" #productListComponent></product-list>
  <product-detail *ngIf="productListComponent.selectedProduct" [productListComponentOfChild]="productListComponentofParent"></product-detail>



  <!-- <img [src]="product.url" alt="iphone" />
  <p>Name: {{ product.name }}</p>
  <p>Price: ${{ product.price }}</p>
  <p>Color: {{ product.color }}</p>
  <p>Discount Price: ${{ getDiscountedPrice().toFixed(2) }}</p>
  <p>
    {{
      product.inStock > 0
        ? "Only " + product.inStock + " itemsLeft"
        : "Not in Stock"
    }}
  </p>
  <button (click)="decrementCartValue()">-</button>
  <span>{{ addToCart }}</span>
  <button (click)="incrementCartValue()">+</button> -->
</div>
